@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css');

:root {
    --bg-color: #22252B;
    --primary-color: #F73C59;
    --secondary-color: #932335;
    --white-color: #ffffff;
    --light-grey-color: #898989;
    --purple: #A13670;
}

html {
    background-color: var(--bg-color);
    font-size: 10px; /* Base Font Size*/
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 10px;
    position: relative;

    /* position: fixed; */

}

section {
    padding: 5rem;

    background:
        radial-gradient(
            circle at calc(var(--x) * 1px) calc(var(--y) *1px),
            /* hsl(0 0% 100% / 0.15), */
            /* hsl(218.6,10.9%,25.1%), */
            /* hsl(218.8,11.1%,30%), */
            hsl(218.6,10.9%,25.1%),
            transparent 300px),
            hsl(0 0% 10%);

    /* position: fixed; */
    background-attachment: fixed;
    
}



.bg-overlay {
    background: url("../images/hero-background-raw.png") scroll no-repeat center center transparent;
    background-size: cover;
}

.dark-bg {
    background-color: var(--bg-color);
    color: var(--white-color);
    border-bottom: 3px solid var(--secondary-color);
}
.dark-bg:nth-child(even) {
    border-bottom: 10px solid var(--light-grey-color);
}

.btn {
    border-radius: 2.4rem;
    text-transform: uppercase;

    font-size: 1.4rem;
    letter-spacing: .35rem;
    padding: 1rem 4rem;
    margin: 0 3rem 2rem;
    transition: .4s;
    
}
.btn-primary {
    background-color: var(--primary-color);
    border: 0 none;

    /* background-image: linear-gradient(var(--primary-color), var(--primary-color)); */
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: .9s;
    
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: transparent !important;
    background-image: linear-gradient(var(--secondary-color), var(--secondary-color));
    background-size: 100% 100%;
    border: 2px solid var(--secondary-color) !important;
}
.btn-secondary {
    border: 2px solid var(--primary-color);
    color: var(--white-color);

    background-color: transparent;
    background-image: linear-gradient(var(--primary-color), var(--primary-color));
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: .9s;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active {
    color: var(--white-color);
    background-color: transparent;
    background-size: 100% 100%;
    border: 2px solid var(--primary-color);
}

.logo {
    margin-bottom: 3rem;
}

h1 {
    font-size: 6.4rem;
    color: var(--primary-color);
    text-transform: uppercase;
    line-height: 1;
    margin: 5rem 0 2rem;
}

.name,
.title,
.countdown {
    color: var(--white-color);
    line-height: 1;
}
.name {
    font-size: 3.2rem;
    font-weight: 700;
    letter-spacing: .5rem;
}
.title {
    font-size: 2.2rem;
    letter-spacing: .75rem;
}
.countdown {
    display: flex;
    justify-content: space-evenly;
    max-width: 75%;
    margin: 0 auto 5rem;

    animation: fadeIn 5s;

}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }


.countdown .count {
    font-size: 4.6rem;
    font-weight: 600;
    line-height: 1.3;
    letter-spacing: .35rem;
    text-transform: uppercase;
}
.countdown span {
    font-size: 1.5rem;
    font-weight: 400;
    display: block;
}


.social {
    display: inline-block;
    margin: 0 1rem;
    background-color: var(--primary-color);
    padding: 1rem;
    transition: .4s;
}
.social:hover,
.social:focus,
.social:active {
    background-color: var(--secondary-color);
}

.social img {
    height: 15px;
}






/** ------------------------------------------------------------- Header **/
header {
	/* padding: 150px 0; */
    height: 700px;
    display: flex;
    align-items: center;

    position: relative;
    background-color: var(--bg-color);
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    padding-top: 5rem;
}
header:before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .85);
    position: absolute;
    z-index: 1;
}
header .container,
header .container-fluid {
    z-index: 2;
}

header img.hero-bg {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    /* height: 635px; */
    transition: 4s;
}
header .sandbox {
    position: fixed;
    top: 0;
    padding: 0;
    z-index: 3;
}
header .sandbox-heading {
    padding: 1rem;
    background-color: var(--purple);
}
header .sandbox-heading p {
    color: var(--white-color);
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0;
}




/** ------------------------------------------------------------- Fun Navigation **/
section.fun-nav ol {
    display: inline-block;
    text-align: left;
    margin: 3rem;
}
section.fun-nav ol li {
    font-size: 2rem;
    /* font-variation-settings: "wght" 500, "wdth" 125; */
}
section.fun-nav ol li a {
    font-size: 5rem;
    /* font-weight: 600; */
    font-variation-settings: "wght" 800, "wdth" 125;
    /* font-stretch: 125%; */
    
    color: var(--white-color);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1rem;

    transition: .4s;
}
section.fun-nav ol li a:hover {
    font-variation-settings: "wght" 400, "wdth" 100;
    letter-spacing: .35rem;
    /* font-stretch: 100%; */
}
section.fun-nav ol li a.stroke {
    -webkit-text-stroke: 1px;
    color: var(--bg-color);
    -webkit-text-stroke-color: white;
}




/** ------------------------------------------------------------- Skewed Content **/
section.skewed-content p {
    font-size: 3rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 3rem;
}
section.skewed-content .copy-container {
    transform: rotateX(30deg) rotateY(-45deg) translateZ(130px) scale(1);
    transform-origin: right center;
    transform-style: preserve-3d;
    will-change: transform;
    transition: .4s;

    border: 1px solid;
    background: mediumpurple;
    width: 50%;
}
section.skewed-content .copy-container:hover {
    transform: rotateX(30deg) rotateY(-35deg) translateZ(130px) scale(1);
}
section.skewed-content .cube-container {
    position: relative;
    max-width: 600px;
    width: 100%;
    min-height: 600px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;

    perspective: 600px;
    transform-style: preserve-3d;
}

section.skewed-content .cube-inner,
section.skewed-content .cube-move {
    max-width: 250px;
    width: 100%;
    min-height: 250px;
}

section.skewed-content .cube-move {
    background-color: var(--primary-color);
    opacity: .5;
    position: absolute;

    transform: translateZ(-50px) rotateX(-30deg) rotateY(-30deg);
    
}

section.skewed-content .cube-inner {
    position: relative;
    transform-style: preserve-3d;
    max-width: 250px;
    width: 100%;
    min-height: 250px;

    transform: rotateY(-45deg) rotatex(180deg);

    animation: rotateCube 5s infinite;
}

@keyframes rotateCube {
    0% { transform: rotateX(45deg) rotateY(45deg); }
    25% { transform: rotateX(-45deg) rotateY(45deg); }
    50% { transform: rotateX(-45deg) rotateY(-45deg); }
    75% { transform: rotateX(45deg) rotateY(-45deg); }
    100% { transform: rotateX(45deg) rotateY(45deg); }
}


section.skewed-content .side {
    position: absolute;
    width: 250px;
    height: 250px;
    opacity: .5;
}
section.skewed-content .side.front {
    background-color: hsl(175deg 100% 70%);
    transform: translateZ(125px);
}
section.skewed-content .side.back {
    background-color: hsl(190deg 100% 70%);
    transform: translateZ(-125px);
}
section.skewed-content .side.right {
    background-color: hsl(175deg 100% 70%);
    transform: translateX(125px) rotateY(90deg);
}
section.skewed-content .side.left {
    background-color: hsl(190deg 100% 70%);
    transform: translateX(-125px) rotateY(-90deg);
}
section.skewed-content .side.top {
    background-color: hsl(175deg 100% 70%);
    transform: translateY(-125px) rotateX(90deg);
}
section.skewed-content .side.bottom {
    background-color: hsl(190deg 100% 70%);
    transform: translateY(125px) rotateX(-90deg);
}




/** ------------------------------------------------------------- ADA Compliant Tablist **/
section.ada-tabs .tabs {
    /* font-family: "lucida grande", sans-serif; */
    /* padding: 3rem; */
    border-radius: 1rem;
    padding-bottom: 2rem;

    background-color: rgba(15, 23, 42, 0.5);
    border: 1px solid rgba(229, 231, 235, .3);
    font-size: 1.8rem;
    font-family: Fira Code VF, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
}

section.ada-tabs .tabs .circles {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    margin-bottom: 1rem;
}
section.ada-tabs .tabs .round {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(71, 85, 105, .75);
    margin: 0 .25rem;
}

section.ada-tabs [role="tablist"] {
    min-width: 100%;

    padding: 0 .7rem;
}

section.ada-tabs [role="tab"],
section.ada-tabs [role="tab"]:focus,
section.ada-tabs [role="tab"]:hover {
    display: inline-block;
    position: relative;
    z-index: 2;
    /* top: 2px; */
    margin: 0 1rem 0 0;
    /* margin-top: 4px; */
    /* padding: 3px 3px 4px; */
    /* border: 1px solid hsl(219deg 1% 72%);
    border-bottom: 2px solid hsl(219deg 1% 72%);
    border-radius: 5px 5px 0 0;
    background: hsl(220deg 20% 94%); */
    outline: none;
    font-weight: bold;
    /* max-width: 22%; */
    overflow: hidden;
    text-align: left;
    cursor: pointer;

    background-color: transparent;
    -webkit-appearance: none;
    color: var(--white-color);
    border-style: none;
}


section.ada-tabs [role="tab"]:focus,
section.ada-tabs [role="tab"]:hover,
section.ada-tabs [role="tab"][aria-selected="true"] {
    /* padding: 3px 3px 4px; */
    margin-top: 0;
    /* border-width: 2px;
    border-top-width: 6px;
    border-top-color: rgb(36 116 214);
    border-bottom-color: hsl(220deg 43% 99%);
    background: hsl(220deg 43% 99%); */

    color: rgba(125, 211, 252, 1);
    border-bottom: 1px solid rgba(125, 211, 252, .7);;
}

section.ada-tabs [role="tab"][aria-selected="false"] {
    /* border-bottom: 1px solid hsl(219deg 1% 72%); */
}

section.ada-tabs [role="tab"] span.focus {
    display: inline-block;
    margin: 2px;
    /* padding: 4px 6px; */

    font-weight: 300;
}

section.ada-tabs [role="tab"]:hover span.focus,
section.ada-tabs [role="tab"]:focus span.focus,
section.ada-tabs [role="tab"]:active span.focus {
    /* padding: 4px 6px; */
    /* border: 2px solid rgb(36 116 214);
    border-radius: 3px; */
}

section.ada-tabs [role="tabpanel"] {
    padding: 1.75rem;
    background-color: transparent;
    border-top: 1px solid rgba(229, 231, 235, .3);
    
    /* border: 2px solid hsl(219deg 1% 72%); */
    /* border-radius: 0 5px 5px; */
    /* background: hsl(220deg 43% 99%); */
    min-height: 10em;
    width: 100%;
    overflow: auto;

    display: flex;
    flex-direction: row;
}
section.ada-tabs [role="tabpanel"] .num {
    color: rgba(71, 85, 105, .7);
}
section.ada-tabs [role="tabpanel"] code {
    padding-left: 1.5rem;
    font-size: 1.8rem;
}


section.ada-tabs [role="tabpanel"].is-hidden {
    display: none;
}

section.ada-tabs [role="tabpanel"] p {
    margin: 0;
    color: var(--white-color);
}





/** ------------------------------------------------------------- Bootstrap Accordion **/
section.accordion .accordion {
    max-width: 650px;
    width: 100%;
    margin: 0 auto;
}
section.accordion .accordion .card {
    margin-bottom: 1rem;
    background-color: transparent;
    border: 0 none;

    /* background-color: rgba(15, 23, 42, 0.5); */
    /* border: 1px solid rgba(229, 231, 235, .3); */

    color: var(--white-color);
}

section.accordion .accordion .card-header {
    padding: 0;
    border-bottom: 0;
    margin-bottom: 1rem;
}

section.accordion .accordion .card-header button {
    margin: 0;
    width: 100%;

    /* background-color: rgba(15, 23, 42, 1); */
    background-color: var(--primary-color);
    border-radius: 1rem;

    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: .25rem;
    /* color: rgba(125, 211, 252, 1); */
    color: var(--white-color);
    text-decoration: none;

    transition: all cubic-bezier(.4,0,.2,1) .4s;
}

section.accordion .accordion .collapse {
    border-radius: 1rem;
    /* border-top: 1px solid rgba(229, 231, 235, .3); */
    border: 1px solid rgba(247, 60, 89, .3);

    /* background-color: rgba(15, 23, 42, 0.5); */
    background-color: rgba(247, 60, 89, .15);

    margin-bottom: 2rem;
    transition: all cubic-bezier(.4,0,.2,1) .4s;
}

section.accordion .accordion .card-body {
    padding: 3rem;
    font-size: 1.4rem;
}




/** ------------------------------------------------------------- Gallery **/
section.gallery .col-lg-12 > div, 
section.gallery label {
    position: absolute;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

section.gallery .col-12 {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-size: 1vmin;
    font-family: "Open Sans", sans-serif;
    color: white;
    /* background: #333; */
}
section.gallery .message {
    text-align: center;
    font-size: 1.5em;
    line-height: 2em;
}
section.gallery .message a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid #444;
}
section.gallery .message a:hover {
    border-width: 3px;
}
section.gallery .container-gallery {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80em;
    height: 80em;
}
section.gallery .container-gallery [class*=item] {
    width: 33%;
    height: 33%;
    border: 1px solid transparent;
    background: url() center center/cover no-repeat;
    transition: all 0.5s ease-in-out;
    z-index: 0;
}
section.gallery .container-gallery [class*=item]:hover {
    border: 1px solid white;
    z-index: 1;
}
section.gallery .container-gallery [class*=item]:nth-of-type(1) {
    top: 0;
    left: 0;
}
section.gallery .container-gallery [class*=item]:nth-of-type(2) {
    top: 0;
    left: 33%;
}
section.gallery .container-gallery [class*=item]:nth-of-type(3) {
    top: 0;
    left: 66%;
}
section.gallery .container-gallery [class*=item]:nth-of-type(4) {
    top: 33%;
    left: 0;
}
section.gallery .container-gallery [class*=item]:nth-of-type(5) {
    top: 33%;
    left: 33%;
}
section.gallery .container-gallery [class*=item]:nth-of-type(6) {
    top: 33%;
    left: 66%;
}
section.gallery .container-gallery [class*=item]:nth-of-type(7) {
    top: 66%;
    left: 0;
}
section.gallery .container-gallery [class*=item]:nth-of-type(8) {
    top: 66%;
    left: 33%;
}
section.gallery .container-gallery [class*=item]:nth-of-type(9) {
    top: 66%;
    left: 66%;
}
section.gallery .container-gallery input {
    display: none;
}
section.gallery .container-gallery input:checked + [class*=item] {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}




/** ------------------------------------------------------------- Footer **/
footer {
    background-color: var(--bg-color);
  
    font-size: .8em;
    padding: 4rem;
}
footer, footer p, footer a {
    color: var(--light-grey-color);
    text-transform: initial;
    transition: .4s;
}
footer a:hover,
footer a:focus,
footer a:active {
    color: var(--primary-color);
}
footer p, footer a {
    font-size: 1.4em;
}
footer .socialMedia {
    margin-bottom: 20px;
}



@media screen and (max-width: 575px){

    section {
        padding: 3rem;
    }

    .container {
        padding: 0;

        max-width: 100%;
        width: 100%;
    }

    .name {
        font-size: 3rem;
    }

    h1 {
        font-size: 5rem;
    }

    .btn {
        margin: 0 0 2rem;
    }

    .countdown .count {
        font-size: 3rem;
    }


    section.fun-nav ol {
        margin: 1.5rem;
    }
    section.fun-nav ol li a {
        font-size: 3.2rem;
    }


}